/obj
/tags
/jos.in
/jos.log
/jos.out
/jos.out.*
/README.md
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/gradelib.pyc
/lab?-handin.tar.gz
/lab?/
/sol?/
*~
vivek.map
vmm/guest/vivek.map
